.product-details{

width:90%;

max-width:1200px;

margin:50px auto;

display:grid;

grid-template-columns:1fr 1fr;

gap:40px;

align-items:center;

}

.product-image img{

width:100%;

max-width:450px;

display:block;

margin:auto;

}

.product-info h1{

font-size:36px;

margin-bottom:20px;

}

.product-info h2{

color:#0d6efd;

margin-bottom:20px;

}

.product-info p{

margin-bottom:15px;

font-size:18px;

}

.product-info button{

width:100%;

padding:15px;

margin-top:15px;

border:none;

border-radius:8px;

font-size:17px;

cursor:pointer;

}

#addCartBtn{

background:#0d6efd;

color:white;

}

#wishlistBtn{

background:#ffc107;

}

@media(max-width:768px){

.product-details{

grid-template-columns:1fr;

text-align:center;

}

}